.main-container {
    min-height: 100vh;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    /* grid-template-areas: 
        "header"
        "board"
        "footer"; */
    grid-template-rows: auto 10% 70% 10% auto;
    gap: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

app-board {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
}

app-header {
    width: 100%;
}