.main-container {
    min-height: 100vh;
    align-items: center;
    vertical-align: middle;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    /* grid-template-areas: 
        "header"
        "board"
        "footer"; */
    grid-template-rows: auto 0 80% auto;
    gap: 10px;
    margin-left: 15%;
    margin-right: 15%;
    flex: 1;
}


.game-container {
    display: grid;
    gap: 15px;
    grid-template-rows: 5% 75% 15%;
    justify-content: center;
    align-items: center;
}

app-header {
    width: 100%;
}
