.letter {
    transition: all 0.05s ;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.letter-wrong, .letter-extra {
    color: var(--letter-wrong);
}

.letter-right {
    color: var(--letter-right);
}

.letter-extra {
    text-decoration: underline;
}
.cursor {
    border-radius: 15%;
    background-color: white;
    color: black;
}