

.thread {
    flex: 1;
}

.thread-right {
    background-color: rgb(200, 0, 240);
}

.thread-wrong {
    background-color: rgb(255, 255, 255);
}

.wpm-container {
    display: flex;
    flex-direction: column;
}

.wpm-container span { 
    margin: 0;
    padding: 0;
    color: white;
}

.filtered-wpm {
    text-decoration: underline;
    left: 0;
    line-height: 60px;
    --f: 64px;
    font-size: var(--f);
    flex-basis: 3;
}

.raw-wpm {
    --f: 64px;
    line-height: calc((var(--f) / 3) - 2);
    font-size: calc(var(--f) / 3);
    flex-basis: 1;
}

.ribbon-container { 
    gap: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.res-container {
    height: 100%;
    display: grid;
    grid-template-columns: 25% auto;
    width: 50vw;
}