#board-options {
    width: 100%;
    background-color: #a9a9a9;
}

.time-option-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.time-option {
    float: left;
}