<div class="navbar">
    <h1 class="nav-btn">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
            WType
        </a>
    </h1>

    <div class="nav-sub">
        <h2 class="nav-btn">
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                Login
            </a>
        </h2>
        <h2 class="nav-btn">
            <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">
                Signup
            </a>
        </h2>

    </div>
</div>