/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --bg-color: #262626;
    --main-color: #8b64b9;
    --letter-wrong: rgb(204, 173, 225);
    --letter-right: rgb(10, 10, 10);
}

html, body {
    /* background-color: rgb(46, 46, 46); */
    background-color: var(--bg-color);
    min-height: 100vh;
    min-width: 100vw;
}

body {
    margin: 0;
}

app-root {
    display: flex;
    min-height: 100vh;
    width: 100%;
}