

<div *ngIf="!isFetching" class="board-container container">
    <div class="timer" #timer>{{timeLeft}}</div>
    <div class="word-container">
        <input type="text" class="player-text" 
            #playerText
            (keyup)="onKeyUp($event)"
            (focusout)="pauseTimer()"
            (click)="startGame()"
        >
        <!-- <div class="player-cursor">
            |
        </div> -->
        <div class="word-wrapper">
            <app-word
            *ngFor="let val of word_queue; index as i"
            [word]="val"
            [ngClass]="{'word-done': i < scroll_word}"
            >
            </app-word>
        </div>
        
    </div>
</div>
