

<div *ngIf="!isFetching" class="board-container container">
    <div class="timer">{{gameTime}}</div>
    <div class="word-container">
        <input type="text" class="player-text" 
            (keyup)="onKeyUp($event)"
            (focusout)="pauseTimer()"
            (click)="startGame()"
        >
        <!-- <div class="player-cursor">
            |
        </div> -->
        <div class="word-wrapper">
            <app-word
            class="word"
            *ngFor="let val of word_queue; index as i"
            [value]="val"
            >
            </app-word>
        </div>
        
    </div>
    <button class="reset-btn" (click)="newRun()">RESET</button>
</div>
