.container {
    align-items: center;
}

.word-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    align-items: center;
    text-align: center;
    width: 70vw;
    height: 117px;
    overflow: hidden;
}

app-word {
    margin: 15px;
}