.container {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.word-container {
    width: 100%;
    height: 117px;
    overflow: hidden;
    margin-left: unset;
    align-items: center;
    justify-content: center;
}

.word-wrapper {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    user-select: none;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;
}

.reset-btn {
    display: block;
    align-items: center;
    width: 100px;
    height: 50px;
    text-align: center;
    overflow: hidden;
}

.player-text {
    position: absolute;
    z-index: 1;
    top: 48.4%;
    transform: translateY(-50%);
    height: 117px;
    width: 70vw;
    opacity: 0;
}

.timer {
    color: white;
    font-size: 32px;
}

h1 {
    color: rgb(112, 48, 171);
}

app-word {
    float:left;
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}