

<div *ngIf="!isFetching" class="container">
    <div class="word-container">
        <input type="text" class="player-text" 
            (keyup)="onKeyUp($event)"
            (click)="this.IN_GAME = true"
        >
        <!-- <div class="player-cursor">
            |
        </div> -->
        <div class="word-wrapper">
            <app-word
            #boardWords
            *ngFor="let val of word_queue"
            [value]="val"
            >
            </app-word>
        </div>
        
    </div>
    <button class="reset-btn" (click)="newRun()">RESET</button>
</div>
