.container {
    align-items: center;
}

.word-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    align-items: center;
    text-align: center;
    width: 70vw;
    height: 117px;
    overflow: hidden;
}

.player-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 117px;
    width: 70vw;
    opacity: 0;
}

.player-text {

}



h1 {
    color: rgb(112, 48, 171);
}

app-word {
    display: inline;
    margin: 15px;
}